*{
    margin: 0%;
    padding: 0%;
}
body{
    background-color: white;
}
nav {
    overflow: auto;
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
  }
  .navbar a {
    float: left;
    padding: 12px;
  }
  
  .text-style{
      font-size: 25px;
      color: white;
      text-decoration: none;

      margin-left: 5%;
      margin-right: 5%;
  }
  #background-color{
      background-color: black;
      width: 100%;
      height: 100%;
  }
/* navbar ends*/

/*div body*/
#full-page{
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    font-family: 'Roboto', sans-serif;
}
#header1{
font-size: 30px;
}
/*div body ends*/


/*sub sec 1*/
.space{
    margin-top: 10%;
    margin-bottom: 10%;
    text-align:center
}
/*sub sec 1 ends*/


/*sub sec 2 start*/
 .sub-sec-2 {
     margin-top: 5%;
     margin-bottom: 5% 
 }

 .img-all{
     width: 100%;
     margin-top: 5%;
     margin-bottom: 5%;
 }

 .head-text{
     font-size: 30px;
     margin-bottom: 5%;
 }

.list-space{
margin: 5% 5% 5% 5%;
}

.p-text-size-0{
    font-size: 20px;
    margin-top: 5%;
    margin-bottom: 5%;  
}

.p-text-size{
    font-size: 20px;  
}
/*sub sec 2 ends*/


/* form / sec 3*/

form{
    border-style: solid;
    text-align: center;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 10%;
}
.form-text{
margin-right: 19%;
}


#but{
    margin-bottom: 5%;
}

/* form / sec 3 ends*/